h1 {
    color: darkblue;
}

h1, h3 {
    font-style: italic;
}

header p {
    font-family: 'Courier New', Courier, monospace;
}

.fancy {
    font-family: 'Times New Roman', Times, serif;
}

header.fancy {
 color: magenta;
}

section.statistics header h3{
    color: red;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

p.important{
    font-weight: bold;
    font-size: 30px;
    background-color: aqua;
}

img{
    float: left;
    padding: 0 0 0 10px;
    text-decoration: none;
}

ul li{ /*perquè les “bullets” quedin alineades amb el text*/
    list-style-position:inside;
}

/* completa */